# IDE
/.idea

# composer
/composer.lock
/vendor
/.php_cs.cache

# npm/yarn
/node_modules
/npm-debug.log
/package-lock.json
/yarn-debug.log
/yarn.lock

# project
/.env.local
/.env.test
/log
/public/build
/ic
/var
